.headerWrapper{
padding-top: 16px;
padding-bottom: 60px;
background: linear-gradient(180deg,  rgba(0, 0, 0, 0.00),rgba(0, 75, 70, 0.15) 0%, 100%);
max-width: 942px;
margin: 0 auto;
}
.header{
color: var(--text-primary);
text-align: center;
font-family: 'Merriweather',serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}
.topWrapper{
    padding: 24px 88px;
justify-content: center;
align-items: center;
background: var(--background-octonary, #FFF);
box-shadow: 0px 2px 25px 0px rgba(43, 89, 255, 0.05);
margin-bottom: 44px;
}
.topTitle{
    color: var(--text-primary);
text-align: center;
font-family: 'Merriweather',serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;

}