


:root{
  --text-primary: #17181B;
  --text-secondary:#6C6D78;
  --text-quaternary: #FFF;
  --brand-primary-normal: #83BFC4;
  --background-primary: #17181B;
  --background-octonary:#FFF;
  --background-light-senary:#F5F5F5;
  --background-quaternary:#9CA3AF ;
  --brand-primary-dark: #5C8689;
  --background-senary: #F5F8FE;
  --additional-blue-light: #EFF5FB;
  --brand-primary-light-max: #DAECED;
  --text-secondary: #6C6D78;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 16px;
  color: #17181b;
  line-height: 137.5%;
  letter-spacing: 0.048px;
}
.container {
  width: 1294px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
