.list{
    border-radius: 16px;
border: 1px solid #F5F5F5;
background: var(--background-octonary, #FFF);
box-shadow: 0px 0px 25px 0px rgba(43, 89, 255, 0.04);

display: flex;
flex-direction: column;
padding: 20px;
gap: 16px;
/* width: 600px; */
}