.item{
    display: flex;
    padding: 24px;

    border-radius: 16px;
border: 1px solid #F3F3F3;
background: var(--background-octonary, #FFF);
box-shadow: 0px 0px 28px 0px rgba(43, 89, 255, 0.04);
max-width: 1224px;

}
.itemWithModal{
    width: 894px;
}
.circle{
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
display: flex;
flex-direction: column;
    width: 40px;
height: 40px;
border-radius: 50%;
background: var(--background-light-senary);
margin-right: 24px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;

}
.wrapper{

}
.title{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height:137.5% ;
    letter-spacing: 0.048px;
max-width: 1048px;
    margin-bottom: 8px;
}
.text{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171.429% ;
    letter-spacing: 0.014px;
}
.textAccent{
    color: var(--brand-primary-dark);
}
.textBold{
  
font-weight: 600;

}
.downloadSvg{
    width: 20px;
    height: 20px;
    
}
.downloadGrey{
    stroke: var(--text-secondary);
/* fill: white; */
}
.download:hover,.download:focus .downloadGrey{
    stroke:var(--brand-primary-dark);
    fill:var(--brand-primary-dark);
}
.download{
    margin-left: auto;
    cursor: pointer;
}
.download:hover,.download:focus .downloadSvg{
   
    stroke:var(--brand-primary-dark);
}



.activeText{
    color: var(--brand-primary-dark);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22px;
letter-spacing: 0.048px;
text-decoration-line: underline;
background-color: var(--brand-primary-light-max);

}
.fileSize{
    color: var(--text-secondary);
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height:  145% ;
letter-spacing: 0.02px;
}

.circle:hover .fileSize,.circle:focus.fileSize{
    color:var(--brand-primary-dark)
 }
 .circle:hover .downloadGrey,
.circle:focus .downloadGrey {
  stroke: var(--brand-primary-dark) /* Color on hover and focus */
}